body
{
	background-color: white;

}

#letter_commands
{
  margin-left: 20px;
}

div.graph_paper
{
	width: 400px;
	height: 400px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	float: none!important;
	display: block!important;
        border-color: lightblue;
}

div.grid_square
{
	background-color: white;
	height: 18px;
	width: 18px;
	border-color: lightblue;
	border-style: solid;
	border-width: 1px;
	position: relative;
	z-index: 4;
	float: left;	
}

div.command,
div.control
{
	cursor: pointer;
	display: inline;
	border-style: solid;
	border-width: 1px;
}

div.grid_shape,
div.fake_shape
{
	border-style: solid;
	border-width: 0 40px 40px 40px;
	position: absolute;
	z-index: 10;	
}

div.fake_shape
{
	border-color: transparent transparent rgba(200, 200, 200, .5) transparent;
}

div.preview_shape
{
	border-style: solid;
	position: absolute;
	z-index: 10;
	overflow: hidden;
}

div.trectangle
{
  position: absolute;
  height: 20px;
  width: 20px;
  border-width: 20px;
  border-style: solid;
  top: 20px;
  left: 20px;
  border-color: rgba(0, 200, 0, .5); 
  background: transparent; 
}

div.rectangle
{
  position: absolute;
  height: 60px;
  width: 60px;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 200, .5); 
}

div.triangle
{
  border-style: solid;
  border-width: 0px 40px 40px 40px;
  border-color: transparent transparent rgba(200, 0, 0, .5) transparent;
  height: 0px;
  width: 0px;
  position: absolute;
  left: 10px;
  top: 30px;
}




div#letter_views
{
	width: 100%;
	/*position: relative;*/
	margin-top: 20px;
	margin-left: 100px;
	height: 280px;	
}

.letter_display
{
	position: relative;
	display: inline;
	float: left;
	margin-left: 20px;
        margin-bottom: 20px;
	border: 1px solid #bbbbbb;
}

.letter_selector
{
  border-radius: 5px;
}

.shape_selector_glass_top
{
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
}

.letter_glass_top
{
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
}

.size_10
{
	height: 200px;
	width: 200px;	
}

.size_8
{
	height: 160px;
	width: 160px;	
}

.size_6
{
	height: 120px;
	width: 120px;	
}

.size_4
{
	height: 80px;
	width: 80px;	
}

.size_2
{
	height: 40px;
	width: 40px;	
}

div#shapes_chooser
{
  width: 90%;
  margin-left: 20px;
  margin-top: 20px;
  overflow-y: hidden;
  height: 120px;
  overflow-x: auto;
  margin: 20px;
  padding-top: 10px;
}

.shapes_wrapper
{
  padding-left: 10px;
  width: 250%;
  position: relative;
}


.selected_shape
{
  box-shadow: 0 0 10px 5px rgba(150, 200, 200, .7);
  border-style: solid;
  border-color: rgba(150, 200, 200, .7);
  border-width: 2px;
  margin-right: 3px;
  margin-left: -2px;
  margin-top: -2px;
}

div.shape_selector
{
	cursor: pointer;
	display: inline;
        margin-right: 5px;
}

.selectable_shape
{
  margin: 0 auto; 
  position: relative!important;
  top: 50%!important;
}


.shape_chooser_display
{
  height: 100px;
  width: 100px;
  position: relative;
  float: left;
}

div.color_remover
{
	cursor: pointer;
	display: inline;
	height: 25px;
	width: 25px;
        position: relative; 

}

.white_background
{
	border-style: solid;
	border-width: 1px;
        display: inline;
        border-radius: 20px;
        background-color: white;
        float: left;
        position: absolute;
        left: 20px;
        z-index: 4;
        height: 18px;
        width: 84px;
        border-color: transparent;
        margin-top: -1px;
}

#add_color
{
  height: 20px;  
  width: 25px;
  margin: 0 auto;
  position: relative;
}

div.color_selector
{
        position: relative;
        z-index: 10;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	height: 25px;
	width: 80px;
        margin-left: 20px;
        display: inline;
        border-radius: 20px;
}

#colorSelector div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(select.png) center;
}
#grid_view
{
  width: 100%;
  float: left;
  margin-top: 20px;
  margin-bottom: 40px;
}

#colors_chooser
{
  position: absolute;
  left: 0px;
  top: 275px;
  width: 250px;
  margin-left: 20px;
  height: auto;
  
}

.color_container
{
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.reds_container
{
  color: red;
  background-color: rgba(200, 0, 0, .2)
}

.blues_container
{
  color: blue;
  background-color: rgba(0, 0, 200, .2)
}

.greens_container
{
  color: green;
  background-color: rgba(0, 200, 0, .2)
}

.grays_container
{
  color: #333333;
  background-color: rgba(100, 100, 100, .2)
} 

.color_wrapper
{
  margin-top: 2px;
}

.color_side_switcher
{
  border-style: solid;
  border-width: 25px;
  border-color: black;
  height: 10px;
  width: 10px;
  margin: 0px auto;
  margin-top: 10px;
}


.opacity_slider
{
  width: 80px;
}

.shape_sortable
{
  display:inline;
  width: 100px;
  height: 100px;
}


.shape_tools
{
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 80;
}

.growLeft, .growRight, .growUp, .growDown
{
  background-color: blue;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 85;
  -webkit-border-radius: 20px;
}

.innergrower
{
  background-color: #a000fc;
}

.growUp
{
  margin: 0 auto;
}

.growDown
{
  margin: 0 auto;
}

.growRight, .growLeft
{
  top: 50%;
  margin-top: -50%;
}


.leftBar
{
  position: absolute;
  height: 100%;
  width: 20px;
  left: 0px;
  top: 0px;
}

.rightBar
{
  position: absolute;
  height: 100%;
  width: 20px;
  right: 0px;
  top: 0px;
}

.bottomBar
{
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.topBar
{
  position: absolute;
  height: 20px;
  width: 100%;
  top: 0px;
  left: 0px;
}

.rounder
{
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 88;
  cursor: pointer;
}

.rTopLeft
{
  top: 0px;
  left: 0px;
}

.rTopRight
{
  top: 0px;
  right: 0px;
}

.rBottomLeft
{
  bottom: 0px;
  left: 0px;
}

.rBottomRight
{
  bottom: 0px;
  right: 0px;
}

.rMenu
{
  width: 50px;
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 90;
}

#word_view
{
  margin-top: 40px;
  margin-left: 250px;
}

#add_letter
{
  border-radius: 5px;
}

.add_letter_sign
{
  position: absolute;
  width: 100px;
  height: 24px;
  left: 10px;
  top: 48px;
  background-color: black;
  border-radius: 10px;
}

.add_letter_sign_horiz
{
  position: absolute;
  width: 24px;
  height: 100px;
  left: 48px;
  top: 10px;
  background-color: black;
  border-radius: 10px;
}

.shape_adder   
{
  position: relative;
  width: 100px;
  height: 100px;
  display: inline;
  float: left;
  margin-left: 20px;
}

.child_adder   
{
  padding-left: 10px;
  margin-top: 20px;
  position: relative;
  width: 80px;
  height: 80px;
}

.add_shape_sign
{
  position: relative;
  margin: 0 auto;
  top: 50%;
  margin-top: -12px;
  width: 25px;
  z-index: 30;
}

.add_shape_sign_vert
{
  position: absolute;
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
  background-color: black;
  border-radius: 10px;
}

.add_shape_sign_horiz
{
  position: absolute;
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
  background-color: black;
  border-radius: 10px;
}

.del_shape_sign_vert
{
  position: absolute;
  width: 19px;
  height: 5px;
  left: 0px;
  top: 7px;
  background-color: red;
  border-radius: 10px;
        -webkit-transform:rotate(45deg);
}

.del_shape_sign
{
  position: absolute;
  width: 5px;
  height: 19px;
  left: 7px;
  top: 0px;
  background-color: red;
  border-radius: 10px;
        -webkit-transform:rotate(45deg);
}

.add_color_sign_vert
{
  position: absolute;
  width: 19px;
  height: 5px;
  left: 0px;
  top: 7px;
  background-color: black;
  border-radius: 10px;
}

.add_color_sign
{
  position: absolute;
  width: 5px;
  height: 19px;
  left: 7px;
  top: 0px;
  background-color: black;
  border-radius: 10px;
}
#removeShape{
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 88;
  cursor: pointer;
}

#rotate{
  position: absolute;
  height: 20px;
  width: 20px;
  z-index: 88;
  cursor: pointer;
}

input[type="range"]{
  -webkit-appearance:none !important;
  background-color: transparent;
  height: 10px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance:none !important;  
  background-color: black;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  margin-top: 4px;
}

#grid_controls_view
{
  position: absolute;
  right: 0px;
  top: 275px;
  width: 250px;
  margin-left: 20px;
  height: auto;
}

.selected_color
{
}

.arrow
{
  position: relative;
  float: right;
  display: inline;
  height: 25px;
  width: 120px;
}

.child_shape_pointer
{
  position: relative;
  display: inline;
  height: 25px;
  width: 50px;
  float: left;
  margin-top: 40px; 
}

.arrow_tip
{
  display: inline;
  border-style: solid;
  border-color: transparent black transparent transparent;
  border-width: 10px 20px 10px 0px;
  height: 0px;
  width: 0px;
  position: absolute;
}

.child_shape_arrow_tip
{
  border-color: transparent transparent transparent black;
  border-width: 10px 0px 10px 20px;
  left: 50px;
}

.arrow_shaft
{
  display: inline;
  background-color: black;
  height: 5px;
  width: 50px;
  position: absolute;
  left: 12px;
  top: 7px;
  border-radius: 10px;
}

#grid_dimensions_view
{
  width: 190px;
  height: 40px;
}

.grid_dimension
{
  display: inline;
  height: 40px;
  position: relative;
  float: left;
  font-size: 40px;
  margin-top: -5px;
}

.grid_x
{
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  margin-top: 2px;
}

.number_up_down
{
  display: inline;
  width: 20px;
  height: 40px;
  position: relative;
  float: left;

}

.number_up
{
  display: block;
  border-style: solid;
  border-color: transparent transparent black transparent;
  border-width: 0px 10px 15px 10px;
  position: absolute;
  cursor: pointer; 
}

.number_down
{
  display: block;
  border-style: solid;
  border-color: black transparent transparent transparent;
  border-width: 15px 10px 0px 10px;
  position: absolute;
  top: 20px;
  cursor: pointer; 
}

#words_display
{
 width: 900px;
 height: 500px;
 margin: 0 auto;
 display: none;
}

#words_list, #session_words_list {
  width: 100%;
  margin: 10px;
  float: left;
  display: inline;
  position: relative;
}

.and_more {
  background-color: white;
  margin-left: -60px;
  float: right;
  z-index: 200;
  position: relative;
} 

#add_word {
  width: 120px;
}

.word_choice
{
  width: 150px;
  float: left;
  z-index: 101;
}

#app_menu_view
{
  display: inline;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.app_menu_item
{
  margin: 5px;
  font-family: 'UnifrakturCook', cursive;
  font-size: 24px;
  background-color: rgba(255, 0, 0, .5);
  border: solid red 1px;
  padding: 5px;
  cursor: pointer;
}
