<div id="letter_commands">
	<div id="triangle_adder" class="shape_adder"><div class='add_shape_sign'><div class='add_shape_sign_horiz'></div><div class='add_shape_sign_vert'></div></div><div class='triangle'></div></div>
	<div id="rectangle_adder" class="shape_adder"><div class='add_shape_sign'><div class='add_shape_sign_horiz'></div><div class='add_shape_sign_vert'></div></div><div class='rectangle'></div></div>
	<div id="trectangle_adder" class="shape_adder"><div class='add_shape_sign'><div class='add_shape_sign_horiz'></div><div class='add_shape_sign_vert'></div></div><div class='trectangle'></div></div>
	<!--<div id="child_triangle_adder" class="child_adder shape_adder"><div class='add_shape_sign'><div class='add_shape_sign_horiz'></div><div class='add_shape_sign_vert'></div></div><div class='triangle'></div></div>
	<div id="child_rectangle_adder" class="child_adder shape_adder"><div class='add_shape_sign'><div class='add_shape_sign_horiz'></div><div class='add_shape_sign_vert'></div></div><div class='rectangle'></div></div>
	<div id="child_trectangle_adder" class="child_adder shape_adder"><div class='add_shape_sign'><div class='add_shape_sign_horiz'></div><div class='add_shape_sign_vert'></div></div><div class='trectangle'></div></div>
        -->
</div>        
<div id="shapes_chooser">
  <div class="shapes_wrapper"></div>
</div>
<div id="colors_chooser">
  <div id="add_color"><div class='add_color_sign'></div><div class='add_color_sign_vert'></div></div>
  <div class="color_container reds_container"></div>
  <div class="color_container greens_container"></div>
  <div class="color_container blues_container"></div>
  <div class="color_container grays_container"></div>
  <div id="color_side_holder"></div>
</div>
<div id="grid_view" >
  <div class="graph_paper letter_display size_20 current_letter"></div>
</div>
<div id="grid_controls_view">
  <div id="grid_dimensions_view"><div id="grid_dimension_height" class="grid_dimension">20</div><div class="number_up_down"><div class="number_up height"></div><div class="number_down height"></div></div><div class="grid_dimension grid_x">X</div><div id="grid_dimension_width" class="grid_dimension">20</div><div class="number_up_down"><div class="number_up width"></div><div class="number_down width"></div></div></div>
</div>
<div id="word_view">
  
</div>
